{% extends "converse/base.html" %}

{% block content %}

    <table class="table table-striped table-hover">
        <tr>
            <th>检查日期</th>
            <th>条目日期</th>
            <th>位置</th>
            <th>详情</th>
        </tr>
        {% for delivery_status in status_list %}
            <tr>
                <td>
                    {{ delivery_status.date | date:"m-d" }}
                </td>
                <td>
                    {{ delivery_status.d_date }}
                </td>
                <td>
                    {{ delivery_status.d_location }}
                </td>
                <td>
                    {{ delivery_status.d_detail }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
