{% extends "converse/base.html" %}

{% block content %}

    <table class="table table-striped table-hover">
        <tr>
            <td>Order</td>
            <td>
                <a href="/order/detail/{{ object.order.id }}"> {{ object.order.person.name }}</a>
                <br>
                {{ object.order.detail }}
            </td>
        </tr>
{#        <tr>#}
{#            <td>Company</td>#}
{#            <td> {{ object.company.name }} </td>#}
{#        </tr>#}
        <tr>
            <td>serial</td>
            <td> {{ object.serial }} </td>
        </tr>
        <tr>
            <td>started</td>
            <td> {{ object.started }} </td>
        </tr>
        <tr>
            <td>image</td>
            <td> {{ object.image }} </td>
        </tr>
        <tr>
            <td>comment</td>
            <td> {{ object.comment }} </td>
        </tr>
    </table>
{% endblock %}