{% extends "converse/base.html" %}

{% block content %}
    <div class="modal fade" id="confirm-div" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    确认
                </div>
                <div class="modal-body">
                    <p class="confirm-message">确认？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-left: 5px">
        <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">新增
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/order/add"><span class="glyphicon glyphicon-pushpin"></span>新增订单</a></li>
                <li><a href="/delivery/add"><span class="glyphicon glyphicon-shopping-cart"></span>新增快递</a></li>
                <li><a href="/person/add"><span class="glyphicon glyphicon-user"></span>新增客户</a></li>
            </ul>
        </span>
        <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">显示
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/order/unpaid">只显示未付款订单</a></li>
                <li><a href="/order/unreceived">只显示未收货订单</a></li>
                <li><a href="/order">显示未完成订单</a></li>
                <li><a href="/order/all">显示全部订单</a></li>
            </ul>
        </span>
        <span>
            <a href="/order_report/" class="btn btn-info">打印代办清单</a>
        </span>
    </div>

    <table class="table table-condensed">
        <tr>
            <th><span class="glyphicon glyphicon-user"></span></th>
            <th><span class="glyphicon glyphicon-calendar"></span></th>
            <th><span class="glyphicon glyphicon-eur"></span></th>
            <th><span class="glyphicon glyphicon-shopping-cart"></span></th>
            <th>总价</th>
            <th>详情</th>
        </tr>
        {% for order in order_list %}
            <tr>
                <td rowspan="{{ order.delivery_set.count |add:1 }}">
                    <div class="dropdown" style="width: 88px">
                        <button class="btn btn-primary dropdown-toggle" type="button"
                                data-toggle="dropdown">
                            {% if order.person.name|length > 4 %}
                                {{ order.person.name|slice:":4" }}.
                            {% else %}
                                {{ order.person.name}}
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        {% if order.person.description %}
                            <br> {{ order.person.description }}
                        {% endif %}
                        <ul class="dropdown-menu">
                            {% if order.person.group %}
                                {% for person in order.person.group.person_set.all %}
                                    <li><a href="/person/detail/{{ person.id }}"><span class="glyphicon glyphicon-user"></span>“{{ person.name }}”</a></li>
                                {% endfor %}
                            {% else %}
                                <li><a href="/person/detail/{{ order.person.id }}"><span class="glyphicon glyphicon-user"></span>“{{ order.person.name }}”</a></li>
                            {% endif %}
                            <li><a href="/order/update/{{ order.id }}"><span class="glyphicon glyphicon-pushpin"></span>修改订单</a></li>
                            <li><a href="/delivery/add?order_id={{ order.id }}"><span class="glyphicon glyphicon-shopping-cart">新增快递</a></li>
                            {% if not order.paid or not order.received %}
                                <li class="divider"></li>
                            {% endif %}
                            {% if not order.received %}
                                <li>
                                    <a href="#" data-href="/order/confirm_received/{{ order.id }}"
                                       data-message="确认送达？"
                                       data-toggle="modal" data-target="#confirm-div">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                        确认送达
                                    </a>
                                </li>
                            {% endif %}
                            {% if not order.paid %}
                                <li>
                                    <a href="#" data-href="/order/confirm_paid/{{ order.id }}"
                                       data-message="确认收款？"
                                       data-toggle="modal" data-target="#confirm-div">
                                        <span class="glyphicon glyphicon-eur"></span>
                                        确认收款
                                    </a>
                                </li>
                            {% endif %}
                            {% if not order.paid or not order.received %}
                                <li class="divider"></li>
                                <li>
                                    <a href="#" data-href="/order/confirm_paid_received/{{ order.id }}"
                                       data-message="确认收款并收货？"
                                       data-toggle="modal" data-target="#confirm-div" style="color:red">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        确认收款并收货
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
                <td>
                    {{ order.started|date:"m-d" }}
                </td>
                <td>
                    {% if order.paid %}
                        <span class="glyphicon glyphicon-eur" style="color:blue"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    {% endif %}
                </td>
                <td>
                    {% if order.received %}
                        <span class="glyphicon glyphicon-shopping-cart" style="color:blue"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    {% endif %}
                </td>
                <td>
                    {% if order.price %}
                        {% if order.paid %}
                            <span style="color:blue">{{ order.price }}</span>
                        {% else %}
                            <span style="color:red">{{ order.price }}</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ order.detail }}
                </td>
            </tr>
            {% for delivery in order.delivery_set.all %}
                <tr>
                    <td colspan="5">
                        <div>
                            <span>
                                {% if delivery.serial|slice:":2" == "BS" or delivery.serial|slice:":2" == "SS" or delivery.serial|slice:":2" == "SD"  or delivery.serial|slice:":3" == "TYS" %}
                                    <form action="http://track.blueskyexpress.com.au/cgi-bin/GInfo.dll?EmmisTrack"
                                          method="post"
                                          style="display: inline" target="_blank">
                                        <input type="hidden" name="w" value="aaeexpress"/>
                                        <input type="hidden" name="cno" value="{{ delivery.serial }}"/>
                                        <button type="submit" class="btn btn-info">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </button>
                                    </form>
                                {% elif delivery.serial|slice:":1" == "A" or  delivery.serial|length == 12 %}
                                    <form action="http://www.zhexpress.com.au/TOrderQuery_Service.aspx"
                                          method="post"
                                          style="display: inline" target="_blank">
                                        <input type="hidden" name="OrderId" value="{{ delivery.serial }}"/>
                                        <button type="submit" class="btn btn-info">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </button>
                                    </form>
                                {% elif delivery.serial|slice:":3" == "SHL" or delivery.serial|slice:":3" == "SCY" %}
                                    <form action="https://www.shlexp.com/track.html"
                                          method="post"
                                          style="display: inline" target="_blank">
                                        <input type="hidden" name="cno" value="{{ delivery.serial }}"/>
                                        <button type="submit" class="btn btn-info">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </button>
                                    </form>
                                {% elif delivery.serial|length == 13 %}
                                    <a href="http://www.hitaoe.com/link/selectMail.jhtml?mail_num={{ delivery.serial }}"
                                       class="btn btn-info" target="_blank">
                                        <span class="glyphicon glyphicon-share-alt"></span>
                                    </a>
                                {% elif delivery.serial|length == 10 %}
                                    <form action="http://www.auodexpress.com/website/doAuodList.do"
                                          method="post"
                                          style="display: inline" target="_blank">
                                        <input type="hidden" name="waybillNum" value="{{ delivery.serial }}"/>
                                        <button type="submit" class="btn btn-info">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </button>
                                    </form>
                                {% endif %}
                                <form action="/delivery/update/{{ delivery.id }}" method="get" style="display: inline">
                                    <button class="btn
                                    {% if order.received %}
                                        btn-success
                                    {% else %}
                                        btn-info
                                    {% endif %}
                                            " style="width: 150px">
                                        {% if delivery.serial|slice:":2" == "BS" or delivery.serial|slice:":2" == "SS" or delivery.serial|slice:":2" == "SD"  or delivery.serial|slice:":3" == "TYS" %}
                                            蓝:
                                        {% elif delivery.serial|slice:":1" == "A" or  delivery.serial|length == 12 %}
                                            中：
                                        {% elif delivery.serial|slice:":3" == "SHL" or delivery.serial|slice:":3" == "SCY"  %}
                                            畅：
                                        {% elif delivery.serial|length == 13 %}
                                            海:
                                        {% elif delivery.serial|length == 10 %}
                                            德:
                                        {% endif %}
                                        {{ delivery.serial }}
                                    </button>
                                </form>
                                {% if not order.received %}
                                    {% if delivery.deliverystatus_set.last %}
                                        <a href="/delivery/status/{{ delivery.id }}" class="btn
                                    btn-info" style="width: 195px">
                                            <span>{{ delivery.deliverystatus_set.last.d_date.strip }}</span><br>
                                            <span>{{ delivery.deliverystatus_set.last.d_location.strip | truncatechars:15 }}</span><br>
                                            <span>{{ delivery.deliverystatus_set.last.d_detail.strip   | truncatechars:15 }}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

{% endblock %}
